@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
body .grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
}
body header {
  grid-area: header;
}
body header #logo {
  display: flex;
  justify-content: center;
}
body header nav {
  display: flex;
  align-items: baseline;
  width: 100%;
  flex-wrap: wrap;
  justify-content: end;
}
body header nav #sokefelt {
  display: flex;
  text-align: left;
  text-decoration: none;
  padding: 1rem;
  font-size: 30px;
  margin-right: auto;
}
body header nav #ikon-liste {
  display: flex;
  text-decoration: none;
  justify-content: end;
  gap: 0.5rem;
  padding: 1rem;
}
body header nav #ikon-liste a {
  font-size: 30px;
}
body header nav #nav-liste {
  margin: 0.5rem;
  padding: 0.5rem;
}
body header nav ul li {
  display: inline-block;
  list-style: none;
}
body header nav ul li a {
  color: black;
  /*Meningen at de skal ha understrek, se wireframes*/
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;
}
body main section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-area: main;
}
body main #host-k-bilde {
  display: flex;
  justify-content: center;
}
body main #host-k-bilde #host-k {
  border-radius: 5px;
  border: 2px solid #000;
  background-color: #E3C9A1;
  /*Brukte Figma sin develpor modus for å få riktig farge og border for knappen*/
  padding: 0.5rem;
  font-size: 25px;
  height: -moz-fit-content;
  height: fit-content;
  text-decoration: none;
  display: flex;
  position: absolute;
  width: 56%;
  bottom: -100px;
}
body main #host-k-tekst {
  border-radius: 5px;
  border: 2px solid #000;
  background-color: rgba(250, 155, 12, 0.4);
  /*Brukte Figma sin develpor modus for å få riktig farge og border for knappen*/
  padding: 0.5rem;
  margin: 2rem;
  width: 50%;
  font-size: 25px;
  text-decoration: none;
  display: flex;
  text-align: center;
  align-items: center;
}
body main #host-k-tekst .free {
  margin: 3rem;
}
body #produktene {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: -moz-fit-content;
  width: fit-content;
  justify-content: center;
}
body #produktene .produkt-bokser {
  display: flex;
  flex-direction: column;
}
body #produktene .produkt-bokser img {
  width: 25%;
  background-color: rgba(250, 155, 12, 0.4);
  margin: 0.5rem;
}
body #produktene .produkt-bokser img {
  width: 25%;
  background-color: rgba(250, 155, 12, 0.4);
  margin: 0.5rem;
}
body #produktene .produkt-bokser h3 {
  width: -moz-fit-content;
  width: fit-content;
}
body #produktene .produkt-bokser p {
  width: -moz-fit-content;
  width: fit-content;
}

footer {
  grid-area: footer;
}
footer nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
footer #sosiale-medier {
  display: flex;
  list-style: none;
  align-items: baseline;
  text-decoration: none;
  justify-content: space-around;
}
footer #sosiale-medier li {
  padding: 0.5rem;
  font-size: 40px;
}
footer #copyright {
  display: flex; /*Hvorfor vil ikke denne drit greia funke??? Hvorfor er den på diplay: block*/
  justify-content: end;
  margin: 0.5rem;
}

#main-prod section h3 {
  font-size: 32px;
}
#main-prod section #prod-bilde {
  order: -1;
}
#main-prod #prod-kat {
  min-width: 85%;
  font-size: 30px;
}
#main-prod #prod-kat #stjerner {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: end;
  flex-wrap: wrap;
  padding: 0.5rem;
}
#main-prod #prod-kat #stjerner p {
  font-size: 24px;
}
#main-prod #prod-kat #stjerner a {
  font-size: 24px;
  flex-direction: column;
}
#main-prod #prod-kat .kategori-knapp {
  border: solid;
  text-align: center;
  border-radius: 5px;
  padding: 0.8rem;
}
#main-prod #prod-kat #legg-handlekruv {
  border: solid;
  text-align: center;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: rgba(250, 155, 12, 0.4);
}
#main-prod #prod-kat #legg-handlekruv a {
  text-decoration: none;
}
#main-prod #prod-kat #storrelseguide {
  border: solid;
  text-align: center;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 14px;
  width: -moz-fit-content;
  width: fit-content;
}

#main-f-og-r { /*Må ta en god runde med for drit ting ikke vil flytte seg til høyre*/
  grid-area: main;
}
#main-f-og-r h2 {
  display: flex;
  text-align: center;
}
#main-f-og-r #sjekk-best {
  border-radius: 5px;
  border: 2px #000;
  background-color: #fff;
}
#main-f-og-r #sjekk-best h3 {
  font-size: 30px;
}
#main-f-og-r #sjekk-best label {
  padding: 0.4rem;
}
#main-f-og-r #sjekk-best label input {
  width: 100%;
  padding: 1rem;
  font-size: 19px;
  margin: 0.4rem;
}
#main-f-og-r #frakt-info {
  margin: 0.5rem;
  border-style: solid;
  padding: 0.4rem;
  text-align: center;
}
#main-f-og-r #frakt-info .post-bring {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  max-width: 25%;
  padding: 0.5rem;
}
#main-f-og-r #retur-info {
  margin: 0.5rem;
  border-style: solid;
  padding: 0.4rem;
  text-align: center;
}
#main-f-og-r #retur-btn {
  display: inline;
  border-radius: 5px;
  border: 2px solid #000;
  background-color: rgba(250, 155, 12, 0.4);
  /*Brukte Figma sin develpor modus for å få riktig farge og border for knappen*/
  padding: 0.6rem;
  font-size: 20px;
  text-decoration: none;
}
#main-f-og-r .les-mer {
  display: flex;
  text-align: right;
  font-size: 12px;
  justify-content: end;
  flex-direction: column;
  margin: 0.5rem;
}

@media only screen and (min-width: 600px) {
  #grid-container {
    grid-template-areas: "header header header" "main main main" "footer footer footer";
  }
  header {
    grid-area: header;
  }
  header #logo {
    display: flex;
    justify-content: start; /*Hvorfor funker det ikke?*/
  }
  header nav #nav-liste {
    display: flex;
    font-size: 30px;
  }
  header nav #nav-liste li {
    padding: 1rem;
    margin: 1rem;
  }
}/*# sourceMappingURL=style.css.map */