*{
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    font-family:Arial, Helvetica, sans-serif;
    
    .grid-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
    }
        header {
            #logo{
                display: flex;
                justify-content: center;
            }
            nav {
                #ikon-liste{
                    display: flex;
                    list-style: none;
                    justify-content: end;
                    gap: 0.5rem;

                    #sokefelt{
                        display: flex;
                        justify-content: start;
                        justify-items: start;
                     }
                       
                }
                #nav-liste{
                    display: flex;
                    gap: 2rem;
                    justify-content: space-evenly;}      
                    ul li{
                        display: inline-block;
                        list-style: none;
                            a{
                            color:black;
                            /*Meningen at de skal ha understrek, se wireframes*/
                            display: flex;
                            justify-content: space-between;
                            align-items: baseline;
                            gap: 1rem;
                            }
                     }

                }
               }
            
        main article{
            align-items: center;
            justify-content: space-between;
        }
   

}
